/*
		Lion Database
		Author: RaMon Silver
		Date: 7/26/2020
	Filename: tstyles2.css
	Supporting files: none
	
*/
table {
    margin: 10px auto;
	text-align: center;
}
h1{
	text-align: center;
}
